[package]
name = "azure-functions"
license = "MIT"
version = "0.4.0"
authors = ["Peter Huene <peterhuene@protonmail.com>"]
description = "Azure Functions for Rust"
repository = "https://github.com/peterhuene/azure-functions-rs/"
homepage = "https://functions.rs"
edition = "2018"

[dependencies]
azure-functions-shared = { version = "0.4.0", path = "../azure-functions-shared" }
log = { version = "0.4.6", features = ["std"] }
grpcio = { version = "0.4.3", default-features = false, features = ["protobuf-codec"] }
futures = "0.1.24"
clap = "2.32.0"
tokio-threadpool = "0.1.11"
serde = "1.0.88"
serde_json = "1.0.38"
serde_derive = "1.0.88"
chrono = { version = "0.4.6", features = ["serde"] }
xml-rs = "0.8.0"
lazy_static = "1.2.0"
tempfile = "3.0.6"
ctrlc = "3.1.1"

[dependencies.azure-functions-codegen] 
version = "0.4.0"
path = "../azure-functions-codegen" 

[features]
unstable = ["azure-functions-codegen/unstable"]

[dev-dependencies]
matches = "0.1.8"
