[package]
name = "azure-functions"
license = "MIT"
version = "0.5.1"
authors = ["Peter Huene <peterhuene@protonmail.com>"]
description = "Azure Functions for Rust"
repository = "https://github.com/peterhuene/azure-functions-rs/"
homepage = "https://functions.rs"
edition = "2018"

[dependencies]
azure-functions-shared = { version = "0.5.1", path = "../azure-functions-shared" }
azure-functions-codegen = { version = "0.5.1", path = "../azure-functions-codegen" }
log = { version = "0.4.6", features = ["std"] }
grpcio = { version = "0.4.4", default-features = false, features = ["protobuf-codec"] }
futures = "0.1.24"
clap = "2.32.0"
tokio-threadpool = "0.1.12"
serde = "1.0.89"
serde_json = "1.0.39"
serde_derive = "1.0.89"
chrono = { version = "0.4.6", features = ["serde"] }
xml-rs = "0.8.0"
lazy_static = "1.3.0"
tempfile = "3.0.7"
ctrlc = "3.1.1"

[features]
unstable = ["azure-functions-codegen/unstable"]

[dev-dependencies]
matches = "0.1.8"
