[package]
name = "azure-functions"
license = "MIT"
version = "0.2.1"
authors = ["Peter Huene <peterhuene@protonmail.com>"]
description = "Azure Functions for Rust"
repository = "https://github.com/peterhuene/azure-functions-rs/"

[dependencies]
azure-functions-shared = { version = "0.2.1", path = "../azure-functions-shared" }
azure-functions-codegen = { version = "0.2.1", path = "../azure-functions-codegen" }
log = {version = "0.4.5", features = ["std"] }
grpcio = "0.4.0"
futures = "0.1.24"
clap = "2.32.0"
tokio-threadpool = "0.1.7"
serde = "1.0.79"
serde_json = "1.0.31"
serde_derive = "1.0.79"
chrono = { version = "0.4.6", features = ["serde"] }

[dev-dependencies]
matches = "0.1.8"
