[package]
name = "azure-functions"
license = "MIT"
version = "0.3.0"
authors = ["Peter Huene <peterhuene@protonmail.com>"]
description = "Azure Functions for Rust"
repository = "https://github.com/peterhuene/azure-functions-rs/"
homepage = "https://functions.rs"
edition = "2018"

[dependencies]
azure-functions-shared = { version = "0.3.0", path = "../azure-functions-shared" }
azure-functions-codegen = { version = "0.3.0", path = "../azure-functions-codegen" }
log = {version = "0.4.6", features = ["std"] }
grpcio = "0.4.1"
futures = "0.1.24"
clap = "2.32.0"
tokio-threadpool = "0.1.10"
serde = "1.0.84"
serde_json = "1.0.34"
serde_derive = "1.0.85"
chrono = { version = "0.4.6", features = ["serde"] }
xml-rs = "0.8.0"
lazy_static = "1.2.0"
tempfile = "3.0.5"

[dev-dependencies]
matches = "0.1.8"
