[package]
name = "azure-functions"
license = "MIT"
version = "0.6.0"
authors = ["Peter Huene <peterhuene@protonmail.com>"]
description = "Azure Functions for Rust"
repository = "https://github.com/peterhuene/azure-functions-rs/"
homepage = "https://functions.rs"
edition = "2018"

[dependencies]
azure-functions-shared = { version = "0.6.0", path = "../azure-functions-shared" }
azure-functions-codegen = { version = "0.6.0", path = "../azure-functions-codegen" }
log = { version = "0.4.6", features = ["std"] }
grpcio = { version = "0.4.4", default-features = false, features = ["protobuf-codec"] }
futures = "0.1.26"
clap = "2.33.0"
tokio-threadpool = "0.1.13"
serde = "1.0.90"
serde_json = "1.0.39"
serde_derive = "1.0.90"
chrono = { version = "0.4.6", features = ["serde"] }
xml-rs = "0.8.0"
lazy_static = "1.3.0"
tempfile = "3.0.7"
ctrlc = "3.1.1"
backtrace = "0.3.15"
crossbeam-channel = "0.3.8"
fs_extra = "1.1.0"

[features]
unstable = ["azure-functions-codegen/unstable", "azure-functions-shared/unstable"]

[dev-dependencies]
matches = "0.1.8"
