variables:
  protobuf-version: 3.8.0
  lkg-rust-nightly: "2019-07-09"

trigger:
  - master
  - dev

pr:
  - master
  - dev

jobs:
  - template: jobs/formatting.yml
    parameters:
      toolchains:
        - name: stable
          version: stable
        - name: nightly
          version: nightly-${{ variables['lkg-rust-nightly'] }}
  - template: jobs/linting.yml
    parameters:
      toolchains:
        - name: stable
          version: stable
        - name: nightly
          version: nightly-${{ variables['lkg-rust-nightly'] }}
  - template: jobs/protobufs.yml
    parameters:
      version: ${{ variables['protobuf-version'] }}
      toolchains:
        - name: stable
          version: stable
  - template: jobs/build.yml
    parameters:
      toolchains:
        - name: stable
          version: stable
        - name: nightly
          version: nightly-${{ variables['lkg-rust-nightly'] }}
          features: unstable
